<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminHome.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Admin Verify Each</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/AdminHome"><img class="logo" src="/images/logob.png" alt="Logo"></a>
        <button class="button">
            <%= user.name %>
        </button><br><br>
    </div>

    <!-- Content -->
    <div class="content">
        <div class="section">
            <!-- PAN Details Card -->
            <div class="pan-card">
                <% if (user) { %>
                    <div class="pan-details">
                        <div class="pan-picture">
                            <img src="http://localhost:4000/<%= user.PAN.PANPic %>" alt="PAN Picture" class="pan-image">
                        </div>
                        <div class="pan-number">
                            <strong>PAN Number:</strong>
                            <%= user.PAN.PANNumber %>
                        </div>
                        <div class="pan-name">
                            <strong>PAN Name:</strong>
                            <%= user.PAN.PANName %>
                        </div>
                        <div class="organization-name">
                            <strong>Name of Organization:</strong>
                            <%= user.name %>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="no-pan-details">No PAN details available</div>
                        <% } %>
            </div>


            <!-- Verify Button Form -->
            <form action="/AdminVerifyPANEach/<%= user.id %>/verify" method="post">
                <input type="hidden" name="userId" value="<%= user.id %>">
                <button class="button" type="submit">Verify</button>
            </form>


            <!-- Footer -->
            <footer>
                <div class="footer-content">
                    <p>&copy; 2024 Community Connect. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>

</body>


</html>