<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Dashboard</title>

</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/organizationHome"><img class="logo" src="/images/logob.png" alt="Logo"></a>
        <a href="/profile"><img class="profile" src="http://localhost:4000/<%= user.profilePic %>" alt="profilePicture"></a><br><br>
        <button class="button"><%=program.programTitle%></button>
    </div>

    <!-- Content -->
    <div class="content">
        <div class="main-container">
            <form action="/updateProgram/<%-program.id %>" method="post">
                <div class="input-container">
                    <input type="text" class="program-input" id="programTitle" name="programTitle" value="<%=program.programTitle%>" placeholder="programTitle">
                </div>
                <div class="input-container">
                    <input type="time" class="program-input" id="programTime" name="programTime" value="<%=program.programTime%>" placeholder="programTime">
                </div>
                <div class="input-container">
                    <input type="date" class="program-input" id="programDate" name="programDate" value="<%=program.programDate%>" placeholder="programDate">
                </div>
                <div class="input-container">
                    <input type="text" class="program-input" id="programLocation" name="programLocation" value="<%=program.programLocation%>" placeholder="programLocation">
                </div>
                <div class="input-container">
                    <textarea class="program-input" id="programDescription" name="programDescription" placeholder="programDescription"><%=program.programDescription%></textarea>
                </div>
                <button class="button" type="submit">Update</button>
            </form>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Community Connect. All rights reserved.</p>
            </div>
        </footer>
    </div>

</body>

</html>