<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/joinProgram.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Join Program</title>

</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/memberHome"><img class="logo" src="/images/logow.png" alt="Logo"></a>
        <a href="/memberProfile"><img class="profile" src="http://localhost:4000/<%= user.profilePic %>"
                alt="profilePicture"></a><br><br>
        <a href="/joinProgram"><button class="button">Join Program</button></a><br><br>
        <button class="button">Joined Programs</button>
    </div>

    <!-- Content -->
    <div class="content">
        <div class="search-container">
            <form action="/searchProgram" method="POST">
                <input type="text" name="programName" class="search-bar" placeholder="Search by Program Name">
                <input type="text" name="programLocation" class="search-bar" placeholder="Search by Program Location">
                <button type="submit" class="button">Search</button>
            </form>
        </div>

        <div class="program-section">
            <div class="program-name">
                <!-- program Name Box -->
                <div class="name-box">
                    <table>
                        <tr>
                            <th>Program Title</th>
                            <th>Program Time</th>
                            <th>Program Date</th>
                            <th>Program Location</th>
                            <th>Program Description</th>
                            <th>Action</th>
                        </tr>
                        <% program.forEach(program=> { %>
                            <form action="/join-program" method="POST">
                                <!-- Hidden input field to store the program ID -->
                                <input type="hidden" name="programId" value="<%= program.id %>">
                                <tr>
                                    <td>
                                        <%= program.programTitle %>
                                    </td>
                                    <td>
                                        <%= program.programTime %>
                                    </td>
                                    <td>
                                        <%= program.programDate %>
                                    </td>
                                    <td>
                                        <%= program.programLocation %>
                                    </td>
                                    <td>
                                        <%= program.programDescription %>
                                    </td>
                                    <td>
                                        <!-- Submit button -->
                                        <button type="button" class="join">Join</button>
                                    </td>
                                </tr>
                            </form>
                            <% }) %>

                    </table>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Community Connect. All rights reserved.</p>
            </div>
        </footer>
    </div>

</body>

</html>