<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OrganizationHome Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


  <!-- Linking custom css file -->
  <link rel="stylesheet" href="/css/profile.css">

</head>

<body>
  <section class="header">
    <div class="header-body">

      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/images/logob.png" alt="image"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/organizationHome">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/createProgram">Create Program</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/createdPrograms">created Programs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/completedPrograms">Completed Programs</a>
              </li>

              <li class="nav-item">
                <div class="btn-group dropstart">
                  <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="tick" src="/images/profile.png" alt="">
                  </button>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </div>
              </li>

            </ul>

          </div>
        </div>
      </nav>
      <!-- navbar ends here -->

      <!-- Card starts here -->
      <div class="container emp-profile">
        <form method="post">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-img">
                <img src="http://localhost:4000/<%= user.profilePic %>" alt="" style="border-radius: 50%;" />
              </div>

            </div>
            <div class="col-md-6">
              <div class="profile-head">
                <h5>
                  <%= user.name %>
                </h5>
                <h6>
                  <lord-icon src="https://cdn.lordicon.com/iikoxwld.json" trigger="click"
                    style="width:15px;height:15px">
                  </lord-icon>
                  <%= user.address %>
                </h6>
                <h5>
                  <%= user.userType %>
                </h5>
                <div class="mb-3">
                  <h5>Upload QR Code:</h5>
                  <div class="input-group">
                    <form action="/profile" method="POST" enctype="multipart/form-data">
                          <input type="file" class="form-control" name="qr">
                          <button type="submit" class="btn btn-outline-secondary">Upload</button>
                        </form>
                        </div>
                  </div>
              

                <br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                      aria-selected="true">User Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                      aria-controls="profile" aria-selected="false">KYC Details</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <a href="/EditProfile"><button type="button" class="btn btn-primary">Edit</button></a>
              <a href="/VerifyPAN"><button type="button" class="btn btn-success">Verify</button></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="profile-work">
                <p style="font-size: 20PX;">Verification Status:</p>
                <% if (user.verification==='VERIFIED' ) { %>
                  <p>VERIFIED</p>
                  <lord-icon src="https://cdn.lordicon.com/guqkthkk.json" trigger="click" 
                    style="width:80px;height:80px">
                  </lord-icon>
                  <% } else if (user.verification==='PENDING' ) { %>
                    <p>PENDING</p>
                    <lord-icon src="https://cdn.lordicon.com/vgobapvi.json" trigger="click"
                      style="width:80px;height:80px">
                    </lord-icon>
                    <% } else { %>
                      <p>NOT VERIFIED</p>
                      <lord-icon src="https://cdn.lordicon.com/jqnbdcqr.json" trigger="click" 
                        style="width:80px;height:80px">
                      </lord-icon>
                      <% } %>
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>User Name</label>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <%= user.name %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Address</label>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <%= user.address %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <%= user.email %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>user Type</label>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <%= user.userType %>
                      </p>
                    </div>
                  </div>
                </div>
                <% if (user.verification==='VERIFIED' && 'PENDING' ) { %>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                      <div class="col-md-6">
                        <label>PAN Number</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.PANNumber %>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>PAN Name</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.PANName %>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Organization Name</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.OrganizationName %>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Organization Type</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.OrganizationType %>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Organization Address</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.OrganizationAddress %>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Organization Contact</label>
                      </div>
                      <div class="col-md-6">
                        <p>
                          <%= user.PAN.OrganizationContact %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } else { %>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <p>Please verify your Organization first</p>
                    </div>
                    <% } %>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Card ends here -->

    </div>
  </section>

  <!-- Footer -->
  <div class="footer-head">
    <footer class="bg-dark text-center text-white">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white">CommunityConnect</a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <!-- Foooter -->


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get the about and timeline tabs
      var aboutTab = document.getElementById("home-tab");
      var timelineTab = document.getElementById("profile-tab");

      // Add click event listeners to the tabs
      aboutTab.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of the link
        showTab("home"); // Show the about tab
      });

      timelineTab.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of the link
        showTab("profile"); // Show the timeline tab
      });

      // Function to show/hide the tabs
      function showTab(tabId) {
        // Hide all tabs
        var tabs = document.querySelectorAll(".tab-pane");
        tabs.forEach(function (tab) {
          tab.classList.remove("show");
          tab.classList.remove("active");
        });

        // Show the selected tab
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add("show");
        selectedTab.classList.add("active");
      }
    });
  </script>

  <script src="https://cdn.lordicon.com/lordicon.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>