<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Organization Page</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/organizationHome"><img src="/images/logob.png" alt="Logo"></a>
        <a href="/profile"><img class="profile" src="http://localhost:4000/<%= user.profilePic %>" alt="profilePicture"></a><br><br>
        <button class="button">Create A Program</button><br><br>
        <button class="button">Created Programs</button><br><br>
        <button class="button">Link Khalti Account</button>
    </div>

    <!-- Content -->
    <div class="content">
        <div class="profile-section">
            <img src="http://localhost:4000/<%= user.profilePic %>" class="profile-picture"
                alt="profile-picture"><br><br><br>
            <a href="/VerifyPAN"><button class="profile-button">Verify Organization</button></a><br><br>
            <h1>Profile Details</h1><br>
            <strong>Name: <%= user.name %></strong><br><br>
            <strong>Email: <%= user.email %></strong><br><br>
            <strong>Address: <%= user.address %></strong><br><br>
            <a href="/logout"><button class="button">logout</button></a>

            <!-- Footer -->
            <footer>
                <div class="footer-content">
                    <p>&copy; 2024 Community Connect. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>