<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
    <title>Signup page</title>
</head>

<body>
    <div class="logo-section">
        <img src="/images/logo.png" alt="Project Logo">
    </div>
    <div class="signup-container">
        <form action="/signup" method="post" enctype="multipart/form-data">
            <div class="input-container">
                <% if (signupErrors && signupErrors.email) { %>
                    <div class="error-message">
                        <span><%= signupErrors.email.msg %></span>
                    </div>
                <% } %>                
                        <i class="fa fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="input-container">
                <% if (signupErrors && signupErrors.password) { %>
                    <div class="error-message">
                        <span><%= signupErrors.password.msg %></span>
                    </div>
                <% } %>
                <i class="fa fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="input-container">
                <% if (signupErrors && signupErrors.name) { %>
                    <div class="error-message">
                        <span><%= signupErrors.name.msg %></span>
                    </div>
                <% } %>
                <i class="fa fa-user"></i>
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="input-container">
                <% if (signupErrors && signupErrors.address) { %>
                    <div class="error-message">
                        <span><%= signupErrors.address.msg %></span>
                    </div>
                <% } %>
                <i class="fa fa-address-card"></i>
                <input type="text" id="address" name="address" placeholder="Address">
            </div>
            <div class="select-container">
                <% if (signupErrors && signupErrors.userType) { %>
                    <div class="error-message">
                        <span><%= signupErrors.userType.msg %></span>
                    </div>
                <% } %>
                <select id="userType" name="userType">
                    <option value="" disabled selected>Signup As</option>
                    <option value="organization">Organization</option>
                    <option value="member">Member</option>
                </select>
            </div>
            <div class="image-section">
                <input type="file" name="profilePic">
            </div>
            <div>
                <button class="signup-btn" type="submit">Signup</button>
            </div>
            <div>
                <p class="p1">Already have an account?</p>
                <button class="login-btn"><a href="/login">Login</a></button>
            </div>
        </form>
    </div>

    <%- include('./partials/noty') %>

</body>

</html>